.DS_Store
__pycache__/
*.pyc
*.mp4
*.MP4
*.mov
*.MOV
*.avi
*.AVI
*.mkv
*.MKV
*.webm
*.WEBM
*.m4v
*.M4V
*.mpg
*.MPG
*.mpeg
*.MPEG
*.wmv
*.WMV
*.flv
*.FLV
*.3gp
*.3GP
*.ts
*.TS
*.mts
*.MTS
*.m2ts
*.M2TS
*.jpg
*.JPG
!test_image/
!test_image/*.jpg
!test_image/*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.avif
*.AVIF
*.gif
*.GIF
*.webp
*.WEBP
*.bmp
*.BMP
*.tif
*.TIF
*.tiff
*.TIFF
*.heic
*.HEIC
*.heif
*.HEIF
*.ico
*.ICO
*.svg
*.SVG
!衛星影像/
!衛星影像/**
!vehicle_localization_outputs/
!vehicle_localization_outputs/**
yolo*.pt
*.pptx
extracted_frames/
stitched_outputs/
third_party/UDIS2/
